

<!--<div class="sidematter">

</div>-->

<header class="site-header">

  <div class="wrap">

    <div class="sidematter">    
    <a href="http://mayhewsw.github.io"><img src="https://s.gravatar.com/avatar/0fc9410e035c29e3ed7d07465c27f68a?s=80" /></a>
    </div>

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>

</header>