<!DOCTYPE html>
<html>
<head>
  <title>Stephen Mayhew</title>
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="default.css" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="sidematter">
<a href="http://github.com/mayhewsw"><img class="only" src="http://www.gravatar.com/avatar/0fc9410e035c29e3ed7d07465c27f68a.png" /></a>

</div>

<div class="only">

  <div class="text">

      {{ content }}

  </div> <!-- text -->
</div>


</body>
</html>
